In [1]:
# importing pandas module
import pandas as pd

In [2]:
# Creating a time period
timePeriod = pd.Period(freq ='S', year = 2002, month = 3, day = 24,
                         hour = 2, minute = 1, second = 33)
  
# Print the Period object
print(timePeriod)

2002-03-24 02:01:33

In [3]:
# printing the type of the variable
print(type(timePeriod))

<class 'pandas._libs.tslibs.period.Period'>

In [4]:
# converting period to timestamp
timeStamp =timePeriod.to_timestamp()

# printing
print(timeStamp)

2002-03-24 02:01:33

In [5]:
# printing the type of the variable
print(type(timeStamp))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [14]:
# Creating a time period
timePeriod = pd.Period(freq='S',year = 2002, month = 3, day = 24,
                         hour = 2, minute = 1, second = 33)

# T shows minutely frequency
timeStamp =timePeriod.to_timestamp()

# print
print(timeStamp)
print(type(timeStamp))

2002-03-24 02:01:33
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [19]:
# importing datetime module
from datetime import datetime

# creating a random number to have time stamp
timeStamp = 1446733073

# converting timestamp to datetime
dt= datetime.fromtimestamp(timestamp)

# printing
print(dt)
print(type(dt))

2015-11-05 20:17:53
<class 'datetime.datetime'>

In [35]:
# importing dataset
data = pd.read_csv("Electric_Production.csv")

# printing 
print(data.head())

       DATE  IPG2211A2N
0  1/1/1985     72.5052
1  2/1/1985     70.6720
2  3/1/1985     62.4502
3  4/1/1985     57.4714
4  5/1/1985     55.3151

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        397 non-null    object
 1   IPG2211A2N  397 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.3+ KB

In [36]:
# creating new row and converting the date into time stamp
data['new'] = data['DATE'].to_timestamp

       DATE  IPG2211A2N                                                new
0  1/1/1985     72.5052  <bound method Series.to_timestamp of 0       1...
1  2/1/1985     70.6720  <bound method Series.to_timestamp of 0       1...
2  3/1/1985     62.4502  <bound method Series.to_timestamp of 0       1...
3  4/1/1985     57.4714  <bound method Series.to_timestamp of 0       1...
4  5/1/1985     55.3151  <bound method Series.to_timestamp of 0       1...