In [9]:
# importing pandas
import pandas as pd

# importing dataset
data = pd.read_excel('Label_Encoding.xlsx')

# dividing the dataset
X = data.drop('Marrige_Status', axis=1)
y = data['Marrige_Status']

# importing the xgboost module
import xgboost as xgb

# Default parameters
xgboost_clf = xgb.XGBClassifier()

# training the model
xgboost_clf.fit(X,y)

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [0 1], got ['No' 'Yes']

In [10]:
# importing pandas
import pandas as pd

# importing dataset
data = pd.read_excel('Label_Encoding.xlsx')

# heading
data.head()

   Age Marrige_Status
0   21            Yes
1   18            Yes
2   20            Yes
3   65            Yes
4   18            Yes

In [11]:
# printing counts of values
data["Marrige_Status"].value_counts()

Yes    9
No     6
Name: Marrige_Status, dtype: int64

In [14]:
# dictrionay with values
encoding = {"Marrige_Status":     {"Yes": 0, "No": 1}}

In [17]:
# copying the dataset
encoded= data.copy()

# categorical encoding in pandas using relace method
encoded = encoded.replace(encoding)

# heading
encoded.head()

   Age  Marrige_Status
0   21               0
1   18               0
2   20               0
3   65               0
4   18               0